<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- modules vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- BS / JS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" > -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <!-- modules css -->
    <link rel="stylesheet" href="./design/css/style.css">
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/347214cdeb.js"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <link rel="icon" type="icon/png" href="./img/favicon (mod).png" >
    <title>Fabezio | Coder pour vous</title>
    <script src="./scripts/clock.js"></script>
    
</head>
<body onload="startTime()">
        <div id="app">
          
            <!-- <div class="silver-shadow " > -->
                <nav id="menu" class="silver-shadow text-center navbar navbar-expand-md navbar-dark bg-dark p-3 sticky-top">
                    <a class="navbar-brand text-shadow" href="index.html#home"><img  src="img/favicon (mod).png" width="32"> fabezio.fr</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" > 
                            <template v-for="link in links">
                                <li class="nav-item active text-shadow"  >
                                    <a class="nav-link" :href="'index.html#' + link.index"><i :class="link.icon"></i> {{link.name}}</a>
                                </li>
                            </template> 
                        </ul>
                        <div class="">
                            <div data-toggle="modal" data-target="#login" class="text-light btn btn-outline-success text-shadow mx-2 " ><i class="fas fa-sign-in-alt"></i>
                                Connexion
                            </div>
                            <a data-toggle="modal" data-target="#register" class="text-light btn btn-outline-warning text-shadow" ><i class="fas fa-user-plus"></i>
                                Inscription
                            </a>
                        </div>
                    </div>
                </nav>
                <!-- <div id="actual-state" class="navbar nav justify-content-end text-light bg-dark py-3 pd-3">
                    <span class="nav-item pl-1" id="greeting" ></span>
                    <span class="nav-item pl-1" >Il est</span>
                    <span class="nav-item pl-1"  id="clock" ></span>.
                </div> -->
                <!-- </div> -->

                <div id="login" class="modal collapse">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Connexion</h3>
                                <div class="close" data-dismiss="modal">&times;</div>
                            </div>
                            <form method="get">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="email">Email: </label>
                                        <input class="form-control" type="email" id="email" placeholder="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Mot de passe </label>
                                        <input class="form-control" type="password" id="password" placeholder="mot de passe">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="btn btn-secondary" data-dismiss="modal">Annuler</div>
                                    <input class="btn btn-primary" type="submit" value="Entrer"></input>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
              
                <div id="register" class="modal collapse">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 >Inscription</h1>
                                    <div class="close" data-dismiss="modal">&times;</div>
                                </div>
                                <form method="post" class="">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="mr" name="customRadioInline1" class="custom-control-input">
                                                <label class="custom-control-label" for="mr">Mr</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="mrs" name="customRadioInline1" class="custom-control-input">
                                                <label class="custom-control-label" for="mrs">Mme</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="ms" name="customRadioInline1" class="custom-control-input">
                                                <label class="custom-control-label" for="ms">Mlle</label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="firstname">Prénom</label>
                                                <input type="text" class="form-control" id="firstname" placeholder="Mon prénom">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="lastname">Nom de famille</label>
                                                <input type="text" class="form-control" id="lastname" placeholder="Mon nom de famille">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="lastname">Nom de jeune fille</label>
                                                <input type="text" class="form-control" id="lastname" placeholder="Mon nom de jeune fille">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="email">Email:</label>
                                                <input type="email" class="form-control my-2" id="email" placeholder="Mon adresse mail">
                                                <input type="email" class="form-control " id="email" placeholder="Confirmation">
                                            </div>
                                            <div class="form-group col-md-6 ">
                                                <label for="password">Mot de passe:</label>
                                                <input type="password" class="form-control my-2" id="password" placeholder="Mon mot de passe">
                                                <input type="password" class="form-control" id="password" placeholder="Confirmation">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Adresse</label>
                                            <input type="text" class="form-control" id="address" placeholder="Mon adresse">
                                        </div>
                                        <div class="form-group">
                                            <label for="address2">Précisions</label>
                                            <input type="text" class="form-control" id="address2" placeholder="Immeuble, étage, boîte...">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="zipCode">Code postal</label>
                                                <input type="text" class="form-control" id="zipCode" placeholder="88888">
                                            </div>
                                            <div class="form-group col-md-9">
                                                <label for="city">Ville</label>
                                                <input type="text" class="form-control" id="city" placeholder="Ma Ville">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Présentez-vous en quelques mots</label><br>
                                            <textarea class="form-control" name="" id="descrition" cols="120" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                <label class="form-check-label" for="gridCheck">
                                                    Je certifie que toutes les informations fournies sont exactes
                                                </label>
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="modal-footer">
                                        <div class="btn btn-secondary text-shadow" data-dismiss="modal">Annuler</div>
                                        <button type="submit" class="btn btn-warning text-shadow">Envoyer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                <section id="sitemap" class="my-5"   >
                    <div class="container">
                        <h2 class="text-center header-shadow mb-4">Plan du site</h2>
                        <p>la hierarchie du site</p>
                        
                    </div>
                </section>

                <hr class="my-5">

                <section id="author" class="my-5"   >
                    <div class="container">
                        <h2 class="text-center header-shadow mb-4">Qui suis-je?</h2>
                        <p>quelqu'un qui vous veut du bien</p>
                        
                    </div>
                </section>

                <hr class="my-5">

                <section id="contact" class="my-5"   >
                    <div class="container">
                        <h2 class="text-center header-shadow  mb-4">Contactez-moi</h2>
                        <p>si vous avez des suggestions ou questions spécifiques, merci de les déposer dans la boite en cliquant ci-dessous <span class="text-muted">(pour les questions, veuillez d'abord consulter la <a href="#faq">foire aux questions</a>)</span></p>
                        <div class="btn btn-info btn-lg btn-block " data-toggle="modal" data-target="#messageModal">Déposer un message</div>
                        
                        <div class="modal collapse fade" id="messageModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3>Editer un message</h3>
                                        <div class="close" data-dismiss="modal">&times;</div>
                                    </div>
                        <form method="POST">
                                    <div class="modal-body">
                                        <div class="form-row ">
                                            <label for="email">Email: </label>
                                            <input type="email" id="email" class="form-control" placeholder="Mon email" >
                                        </div>
                                        <div class="form-row my-3">
                                            <label for="name">Nom: </label>
                                            <input type="text" id="name" class="form-control" placeholder="Mon nom">
                                        </div>
                                        <div class="form-row">
                                            <label for="message">Message</label>
                                            <textarea class="form-control" type="text" id="message" cols="50" rows="3" placeholder="Entrez votre texte ici"></textarea>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-dark" data-dismiss="modal">annuler</button>
                                        <input class="btn btn-info" type="submit" value="Transmettre"></input>
                                    </div>
                                </form>
                                
                                
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            
            <hr class="my-5">
            <section id="help" class="my-5"   >
                <div class="container">
                    <h2 class="text-center header-shadow mb-4">Aide</h2>
                    <p>au secours, je suis perdu!</p>
                    
                </div>
            </section>
            
            <hr class="my-5">
            <section id="author" class="my-5"   >
                <div class="container">
                    <h2 class="text-center header-shadow mb-4">Foire aux questions</h2>
                    <p>Questions fréquemment posées</p>
                    
                </div>
            </section>
            
            <hr class="my-5">
            
            <!-- <hr class="my-5"> -->
            <nav id="faq" class="navbar justify-content-end">
                    <ul class="nav">
                        <template v-for="item in social">
                            <li class="nav-item">
                                <a class="nav-link" :href="item.link"><i class="fa-2x" :class="item.logo"></i></a>
                            </li>
                        </template>
                    </ul>
                </nav>
                <footer class="container-fluid bg-dark text-light ">
                    <p class="text-center pt-3">&copy; fabezio.fr - 2019</p>
                    <ul class="nav justify-content-center navbar-expand-md" >
                        <template v-for="link in footer" >
                            <li class="nav-item">
                                <a class="nav-link active text-light" :href="'footer.html#'+ link.index"><i :class="link.icon"></i> {{link.name}}</a>
                            </li>
                        </template>
                        
                    </ul>
                </footer>
            </div>
            <script src="./scripts/app.js"></script>
            <script src="./scripts/bs.js"></script>
            <script src="./scripts/greet.js"></script>
            
</body>
</html>
