.silver-shadow {
    box-shadow: 1rem 1rem 1rem rgba(127, 127, 127, 0.5);
}

.social-shadow {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(127, 127, 127, 0.5);
    
}

.btn-shadow {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 255, 0.5);
    
}

.header-shadow {
    text-shadow: 0.5rem 0.5rem 0.25rem rgba(127, 127, 127, 0.5);
    
}

.text-shadow {
    text-shadow: 1px 1px black;
    color: white;
    transition: all 0.5s ease-in-out !important;
    &:hover {
        text-shadow: none;
        border: none;
        background: none;
        
    }
}

.alert-shadow {
    // box-shadow: 1rem 1rem 1rem rgba(127, 127, 127, 0.5);
    
}

.nav-item :hover {
    // text-decoration: underline rgba(0, 255, 255, .7);
}
#menu {
    // padding-bottom: 0 !important;
}
h1  {
    // text-align: center;
}

#home h3 {
    // text-align: center;
}
hr {
    width: 10rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(127, 127, 127, 0.5);
    // display: block;
    // align-content: center;

    height: 5px;
    border-radius: 2px;
    background-color: #444;
    // margin: 2rem auto;
}

/* 
#actual-state span {
	padding-left: .5rem;
} */

section {
    // margin: 1rem 0 ;
}

#login {
	// padding: 10px 10px 0;
}

section,
article {
	/* margin: 0 1rem 1rem; */
	
}

#services {
    h2 {
        // text-align: center;
    }
    p {
        // text-align: justify;
    }
    .btn {
        // border: outset 2px skyblue;
        text-shadow: 1px 1px black;
        // border-radius: 0.5rem;
        font-weight: 600;
        /* width: 16em; */
        border: 1px solid aquamarine !important;
    }


}



// cartes 

.card {
    // margin: 1rem 0;
    // width: 12rem;
    border-radius: 0.5rem !important;
    border: 1px solid aquamarine !important;
    h6 {
        // text-align: right;
        
    }    
    .card-body {
        // height: 21rem;
        i {
            // padding-bottom: 1rem;
        }        
    }
    .card-header {
        background-color: aquamarine !important;
        // : 1px solid aquamarine !important;
        

    }  
    .card-footer {
        // padding: 0 !important;
        // margin: 0 !important;
        background-color: aquamarine !important;
    }  
    
}        




#portfolio .card {
    // width: 360px;
    // border-radius: 1em;
    
    
    img {
        // width: 320px;
        filter: grayscale(100%);
        opacity: 0.75;
        &:hover {
            filter: grayscale(0%);
            opacity: 1;
        }
    }    
    
    
    h4 {
        // margin-top: 20px;
        &:hover {
            // text-decoration: underline limegreen;
        }    
    }    

}    



.html {
	color: orangered;
}

.css {
color: blue;
}
.react {
    color: #61DAF4;
}

.bs {
	color: #563D7C;
}
.sass {
	color: #CF649A;
}

.js {
	color: yellow;
}

.vue {
	color: #41B883;
}

.node {
	color: #689F63 ;
}

.db {
	color: gray;
}

.angular {
	color: darkred;
}

.php {
	color: royalblue;
}


/* barre sociale */

.fa-youtube-square,
.fa-google-plus-square {
	color: red;
}

.fa-github-square {
	color: black;
}

#social .nav-item {
	// margin: 0 -0.25rem !important;
}

footer {
	background: rgba(100, 100, 100, 0.3);
	// padding: 1rem 0;
	
}

#civil {
    // padding: 0 1rem;
}